/* Reset Css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


/* Style */

html{height: 100%;}

body{
   background:  hsl(220, 15%, 55%, 0.3);
   display: flex;
   min-height: 100%;
}

.container{
   width: 320px;
   height: 500px;
   background: hsl(0, 0%, 100%);
   border-radius: 20px;
   margin: auto;
}

.QRcode{
   width:290px;
   height:290px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 15px;
}

.QRcode img{
   width: 100%;
   border-radius: 20px;
}

.content{
   padding: 10px 25px 0 25px;
   text-align: center;
}

.content h3{
   font-family: 'Outfit', sans-serif;
   font-weight: 700;
}

.content p{
   font-family: 'Outfit', sans-serif;
   font-weight: 400;
   font-size: 15px;
}